/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url('src/assets/git.jpg');
  background-repeat: repeat;
  background-size: cover;
  margin: 10%;
  }
  